.notfound-container {
    flex-direction: column;
    text-align: center;
}

.notfound-title {
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #059669;
}

.notfound-text {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.notfound-button {
    background-color: #059669;
    color: #282c34;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s;
}

.notfound-button:hover {
    background-color: #08c68a;
}